#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Webkit-based browsers (Safari, Chrome) */
::-webkit-scrollbar {
    width: 0px; /* Adjust to your preference */
}

table {
    scrollbar-width: none; /* Firefox */
}